#carousel-example-2 {
    /* margin-top: 70px; */
    min-height: 300px;
    min-width: 100%;
  }
  #carousel-example-2 img {
      min-height: 350px;
      min-width: 100%;
  }
  #carousel-example-2 > .carousel-indicators > li {
      border-radius: 0px;
      min-width: 25px;
      background-color: #9d9d9d;
      border: 1px solid white;
      margin-right: 10px;;
      margin-left: 10px;;
  }
  #carousel-example-2 > .carousel-indicators > .active {
      background-color: rgb(231, 13, 60);
  }
  #carousel-example-2 .carousel-caption {
    color: white;
    right: 38%;
    text-align: center;
    max-width: 450px;
    min-width: 290px;
    margin-right: 150px;;
    /* margin-left: 2%; */
    /* left: auto; */
      top: auto;
    /*position: relative;*/
    top: 50%;
    transform: translateY(-60%);
    bottom: initial;
    text-shadow: 1px 1px 2px #000000;
    /* font-weight: 1200; */
  }
  /* h1 { font-size: 200%;
  } */

  .item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .darkened-image { 
    filter: brightness(50%); 
  }
